@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* Scrollbar Styling */
.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Font Styling */
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Tooltip Styling */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  /* border-radius: 6px; */
  padding: 5px 0;
  bottom: 125%; /* Adjust placement */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
